[submodule ".registry"]
	path = .registry
	url = https://github.com/devopifex/devopifex.r-universe.dev
	branch = HEAD
[submodule "communicate"]
	path = communicate
	url = https://github.com/devOpifex/communicate
[submodule "component"]
	path = component
	url = https://github.com/devOpifex/component
[submodule "erratum"]
	path = erratum
	url = https://github.com/devOpifex/erratum
[submodule "g2r"]
	path = g2r
	url = https://github.com/devOpifex/g2r
[submodule "jader"]
	path = jader
	url = https://github.com/devOpifex/jader
[submodule "litter"]
	path = litter
	url = https://github.com/devOpifex/litter
[submodule "mcpr"]
	path = mcpr
	url = https://github.com/devOpifex/mcpr
[submodule "scilis"]
	path = scilis
	url = https://github.com/devOpifex/scilis
[submodule "windy"]
	path = windy
	url = https://github.com/devOpifex/windy
